body{
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}

h1{
    text-align: center;
}
.banner ul{
    list-style: none;
    background-color: #102525;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.banner a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.banner a:hover{
    background-color: black;
}
.banner li{
    float: left
}
.contato {
  max-width: 500px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contato input,
.contato textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.contato button {
  padding: 10px;
  background: green;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.contato button:hover {
  background: darkgreen;
}




